*{
    margin:0;
    padding:0;
    box-sizing:border-box; */
}
  body{
    font-family: "Karla", sans-serif;
    background-color: blueviolet
  };
  .formulario{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form{
    background-color: aquamarine;
    width:30vw;
    height: 60vh;
    border: 1em;
  } 